*{
  box-sizing: border-box;
  overflow-x: hidden;
  
}

body{
  margin: 0 auto;
  font-family: 'Fjalla One', sans-serif;
  
}
html{
  scroll-behavior: smooth;
}
.main-header{
  padding-top: 10px;
  text-align: center;
  background-color: rgb(201, 191, 191);
  padding-bottom: 40px;
}
.name,h2,.name-footer,h4,.social-text{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: italic;
}
.main-nav li{
  background-color: white;
  list-style-type: none;  
  margin-bottom: 7px;
  padding: 20px 0;
  text-transform: uppercase;
}
.main-nav{
  margin-top: 40px;
  margin-right: 20px;
  padding-left: 20px;
}
.main-nav a{
  color: black;
  text-decoration: none;
}
.link1:hover,.link2:hover,.link3:hover,.link4:hover{
  transition: all .5s;
  background-color: teal;
  border-radius: 10px;
  padding: 5px;
  color: yellow;
}
.profile-picture{
  margin-top: 50px;
  margin-bottom: 25px;
  width: 70%;
}
.intro-text{
  margin: 0px 30px;
}
.main{
  margin-top: 60px;
  text-align: center;
}
.container{
  margin-top: 60px;
  margin-bottom: 50px;
}
.container img{
  width: 100%;
}
h3{
  margin-top: 30px;
}
figure{
  margin: 0px 14px;
}
figcaption{
  padding-bottom: 30px;
  margin: 0 10px;
}
.section-contact{
  text-align: center;
}
h2{
  padding-top: 80px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.section-contact p{
  margin-right: 40px;
  padding-left: 40px;
}
.info{
  margin-top: 30px;
  padding-bottom: 50px;
}
.bottom{
  background-color: rgb(161, 155, 155);
}
.main-footer{
  border-top: 1px solid black;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.back-to-top a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.name-footer,.back-to-top,.back-to-top li{
  list-style-type: none;
  display: inline; 
}

  footer li:nth-child(5),
  footer li:nth-child(4),
  footer li:nth-child(3),
  footer li:nth-child(2) {
      display: none;
  }
  .section-contact{
      background: #af4f6a;
      }
  .section-socials{
      text-align: center;
      background: #4FAFBB;
      border-bottom: solid 5px black;
  }
  .social-header{
      margin-top: 30px;
      margin-bottom: 20px;
  }
  .contact-links{
      margin-bottom: 45px;
      
  }
  .contact-details{
      text-decoration: none;
      padding: 0px 20px;
      font-size: 1.2em;
      color: rgb(15, 12, 12);
      
  }
  .social-text{
      font-size: 25px;
  }
  h2{
      padding-top: 30px;
  }
  a {
    text-decoration: none;
  }

    .btn {
      color: rgb(250, 250, 15);
      background-color: teal;
      padding: .75rem 1.5rem;
      border-radius: .5rem;
      text-decoration: none;
      font-size: .9rem;
      outline: none;
      border: none;
      cursor: pointer;
  
  }

/* Media Query for Tablet */
@media (min-width: 768px){
  .main-nav li{
      display: inline;
      padding-left: 30px;
      background-color: rgb(201, 191, 191);
  }
  .main-nav{
      padding-right: 20px;
      overflow: hidden;
  }
  .link1:hover,.link2:hover,.link3:hover,.link4:hover{
      transition: all .5s;
      background-color: teal;
      border-radius: 10px;
      padding: 5px;
      color: yellow;
     
  }
  .intro-text{
      width: 45%;
      float: left;
      margin-top: 50px;
      font-size: 1.4em;
      text-align: left;
      padding-left: 10px;
      
  }
   .profile-picture{

      width: 40%;
   } 
   
  figure{
      width: 50%;
      float: left;
      margin: 16px 0;
      padding: 0 7px;
  }
  .container{
      margin-right: 20px;
      margin-left: 20px;
  }
  figcaption{
      margin-left: 20px;
      margin-right: 25px;
  }
 
  
  footer li:nth-child(1){
      display: none;
  }
  footer li:nth-child(2),
  footer li:nth-child(3),
  footer li:nth-child(4),
  footer li:nth-child(5){
      display: inline;
      padding-left: 30px;
  }
  .back-to-top{
      margin-left: 100px;
  }
  .section-contact{
      background: #af4f6a;
      }
  .section-socials{
      text-align: center;
      background: #4FAFBB;
      border-bottom: solid 5px black;
  }
  .social-header{
      margin-top: 40px;
      margin-bottom: 20px;
  }
  .contact-links{
      margin-bottom: 45px;
      
  }
  .contact-details{
      text-decoration: none;
      padding: 0px 20px;
      font-size: 1.2em;
      color: rgb(15, 12, 12);
      
  }
  h2{
      padding-top: 50px;
  }

}

/* Media Query for Desktop */
@media (min-width: 1024px){
  body{
      background-color: rgb(201, 191, 191);
      font-family: 'Fjalla One', sans-serif;
  }
  .name{
      float: left;
      text-decoration: underline;    
  }
  .link1:hover,.link2:hover,.link3:hover,.link4:hover{
      transition: all .5s;
      background-color: teal;
      border-radius: 10px;
      padding: 5px;
      color: yellow;
  }
  
  .main-nav{
      float: right;
      margin-top: 15px;
  }
  .main-nav li{
      float: left;
  }
   .clearfix::after{
      content: "";
      display: table;
      clear: both;
  }     
  .main-header{
      padding-top: 20px;
      margin-left: 40px; 
  }
  .profile-picture{
      width: 40%;
      margin-left: 85px;
  }
  .banner{
      width: 80%;
      margin: 0 auto;
  }
  .header-container{
      width: 80%;
      margin: 0 auto;
  }
  .intro-text{
      margin-left: 0;
      padding-left: 0;
  }
  .main{
      background-color: white;
      width: 80%;
      margin: 0 auto;
  }
  figure{
      width: 33.33%;
      
  }
  .container{
       width: 100%; 
       margin-left: 20px;
       padding-right: 40px;
  }
  .bottom{
      background-color: rgb(201, 191, 191);
  }
  h4{
      margin-top: 60px;
  }
  h2{
      padding-top: 30px;
  }
  .main-footer{
      width: 80%;
      margin: 0 auto;
      padding-bottom: 15px;
      padding-top: 10px;
  }
  .name-footer{
      float: left;
  }
  .back-to-top{
      float: right;
      margin-top: 28px;
  }
  .back-to-top li{
      float: left;
  }
  .section-contact{
      background: #af4f6a;
      width:80%;
      margin: 0 auto;
      
  }
  .section-socials{
      text-align: center;
      width: 80%;
      margin: 0 auto;
      background: #4FAFBB;
      border-bottom: solid 5px black;
  }
  .social-header{
      margin-top: 40px;
      margin-bottom: 20px;
  }
  .contact-links{
      margin-bottom: 45px;
      
  }
  .contact-details{
      text-decoration: none;
      padding: 0px 20px;
      font-size: 1.2em;
      color: rgb(15, 12, 12);
      
  }
  
}